{% extends "blog/base.html" %}
{% block content %}
    <h3>Change Your Password</h3>
    {% if form.errors %}
        <div role="alert">
            <div id="form_errors">
                {% for key, value in form_errors.items %}
                <strong>
                    {{ value }}
                </strong>
                {% endfor %}
            </div>
        </div>
        <button type="submit" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        
        <label>Old password</label>
        <input type="password" name="old_password" autocomplete="new-password" requeired id="id_old_password" placeholder="Enter old password">
        <br>
        <label>New Password</label>
        <input type="password" name="new_password1" autocomplete="new-password"
               required id="id_new_password1"
               placeholder="Enter New Password"/>

        <br>

        <label for="id_new_password2">New Password Confirmation</label>
        <input type="password" name="new_password2" autocomplete="new-password"
               required id="id_new_password2" placeholder="Confirm New Password"/>

        <br>
        <button type="submit" id="reset">Update Password</button>
    </form>
{% endblock content %}